{
  "plugins": [
      "react",
      "prettier"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react/jsx-runtime",
      "prettier"
  ],
  "rules": {
      "prettier/prettier": [
          "error",
          {
              "singleQuote": true
          }
      ],
      "react/jsx-filename-extension": [
          "warn",
          {
              "extensions": [
                  ".js",
                  ".jsx"
              ]
          }
      ],
      "react/prop-types": 0
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  }
}